@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.add-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 20px;
  position: relative;
}

#filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  right: 10px;
}

#filter:hover {
  background-color: #f4f4f4;
}

.filter-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.add-form input {
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 10px;
  position: relative;
}

.add-form input:focus {
  outline: none;
}

.button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}

#list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin: 20px;
  padding: 0;
}

li {
  width: 200px;
  padding: 10px;
  text-align: center;
  border: 1px solid #333;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}

li input {
  position: absolute;
  top: -10px;
  right: -10px;
}

li.done {
  text-decoration: line-through;
  background-color: #f4f4f4;
}

li:hover {
  background-color: #f4f4f4;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal.active {
  display: flex;
}

.modal-content {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  position: relative;
  cursor: auto;
}

.modal-content h2 {
  text-align: center;
}

.modal-content select {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 10px;
  width: 100%;
  margin: 10px 0;
}

.modal-close {
  color: #fff;
  padding: 10px;
  position: absolute;
  top: -40px;
  right: -30px;
  cursor: pointer;
  font-size: 35px;
}

#empty-list {
  text-align: center;
  margin: 20px;
  color: #333;
  display: block;
}

#empty-list.hidden {
  display: none;
}

.trash-button {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  background-image: url("./trash.png");
  background-size: contain;
  width: 20px;
  height: 20px;
}

#remove-modal-element {
  text-align: center;
  font-style: italic;
}

#remove-modal-button {
  width: 100%;
}
